
{% extends 'base.html' %}

{% block title %}
    Browse - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>
        Browse Wines{% if initial %} Starting with 
        '{{ initial|title }}'{% endif %}
    </h1>

    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <a href="{% url 'browse_by_name' initial=letter %}" 
    {% if initial == letter %}class="active"{% endif %}>
        {{ letter|upper }}
    </a>
    {% endfor %}

    {% for wine in wines %}
    <ul>
        <li>
            <a href="{% url 'wine_detail' slug=wine.slug %}">
                {{ wine.name }}
            </a>
        </li>
    </ul>
    {% empty %}
    <p>Sorry, no results!</p>
    {% endfor %}
{% endblock content %}