{% extends 'index.html' %}

{% block title %}
    About - {{ block.super }}
{% endblock title %}

{% block header %}
    <h1>About</h1>
{% endblock header %}

{% block banner %}
	<p>Mrs. Jennifer Kate, BA (Hons) Oxon, a.k.a. Our Glorious Leader Kim Jong Jen, ex-chocolate addict, Queen of Wine, loyalist of Woolworths, and permanent resident of the Commonwealth of Australia, spent her formative years on the hills and in the hallways of the most prestigious parts of the United Kingdom. It was in these chilled climes and dimly lit corridors that Our Glorious Leader discovered the joys of that most sensational and sacred nectar of the gods - the divine drink of the cult of Dionysus, from the harvest of the succulent wine grape.</p>
	
	<p>Since these mythical times, Our Glorious Leader has revelled in the rituals of its consumption and disseminated the rites of the cult of Dionysus to all her unsuspecting subordinates.</p>
	
	<p>Not satisfied with the offerings of her homeland, Our Glorious Leader travelled to distant fields in search of the ultimate combination of variety, value, and malleable minds. It is in the humble south-west corner of Level 21 that she has found herself amidst an agreeable band of alcoholics, eager to learn the intricacies of the Bacchanalic delights passed down through the ages.</p>
	
	<p>Jen's Winery represents the finest in affordable wines selected by this group of wide-eyed wine drinkers, endorsed (not spat out) by the Glorious Leader herself.</p>
{% endblock banner %}

{% block items %}{% endblock items %}