{% extends 'base.html' %}
{% block title %}
    Rules - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Rules for Wine of the Week</h1>
    <ol>
    	<li>Each week, one person nominates to bring a bottle of wine</li>
		<li>Without knowing the wine, participants taste and attempt to determine its attributes</li>
		<li>Participants are scored on their accuracy of their entries by the bringer of wine</li>
		<li>The person with highest score wins or loses respect for being the biggest alcoholic</li>
		<li>The Wine of the Week and participants' results are added to Jen's Winery</li>
	</ol>

	<h2>Conditions</h2>
	<ul>
		<li>The bottle of wine should at most be $23</li>
		<li>The only allowable resource during tasting is the chart on the glass of Maroon</li>
		<li>At most three tasting note choices are allowed in general (four are allowed if the participant didn't taste the wine at all)</li>
		<li>Participants who choose 'Australia' as the region must be more specific (e.g. they must choose a state in Australia)</li>
		<li>The rating recorded in Jen's Winery is the group's modal rating</li>
		<li>All glasses must be returned to the Power Rangers' area or kept for the following week!</li>
	</ul>
{% endblock content %}